
<% layout("/layouts/boilerplate") %>

   
   <div class="NewBlog ms-5 me-5 ">
    <h2 class="heading"><u>Create New Blog</u></h2>
   <form method="post" action="/blogHere" class="needs-validation" novalidate>

    <div class="m-3 ">
        <label for="title" class="form-label" >Title</label>
      
        <input type="text" class="form-control" name="title" id="title" placeholder="Write Some Title" required>
        <div class="invalid-feedback">Please Enter Valid Title</div>
      </div>
      

      <div class="m-3 ">
        <label for="about" class="form-label">About</label>
     
        <textarea class="form-control" name="about" id="about" rows="3" required></textarea>
        <div class="invalid-feedback">Please Enter Valid About</div>
      </div>
      
      <button class="btn btn-dark ms-3">Submit</button>



   </form>
   </div>



   
  