
<% layout("/layouts/boilerplate") %>
<body>
   <div class="row">
     
    <div class="alert alert-danger d-flex align-items-center col-6 offset-3" role="alert">
      
        <div>
          <%= message %>
        </div>
      </div>

   </div>
   
   <image style="height:30; width:25rem;" src="https://thumbs.dreamstime.com/b/isolated-confused-chick-cartoon-character-vector-illustration-248141244.jpg" alt="...imgError"></image>
</body>
